.container-fluid {

  background-image: url("../images/vegas.jpg");
  height:  400px;
  
}

.button c2 c3{


height: 150px;
width: 100px;
margin-right: 20px;


}

#random-display {

  height: 150px;
  width: 225px;
  background-color: rgb(211, 195, 52);
  font-size: 20; 
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  

}

.number {


  font-size: 60;
  text-align: center; 
}